.navbar {
  background-color: black;
}

#ecomuseo-icon {
  position: absolute;
  top: 0;
  width: 100px;
}

#ecomuseo-title {
  margin-left: 150px;
  font-family: 'Amaranta';
}

ul.navbar-nav.ms-auto {
  text-align: end;
  font-family: 'Amaranta';
}

@media (max-width: 768px), (max-width: 992px) {
  ul.navbar-nav.ms-auto > li {
    padding-inline-end: 0.5rem;
  }

  #ecomuseo-icon {
    width: 90px;
    margin-left: -30px;
  }

  #ecomuseo-title { margin-left: 100px; }
  
  .navbar-brand {
    padding-top: 15px;
    font-size: 16px;
  }
}

@media (max-width: 414px), (max-width: 577px) {
  #ecomuseo-icon {
    width: 70px;
    margin-left: 10px;
  }
  
  #ecomuseo-title { margin-left: 100px; }

  .navbar-brand {
    padding-top: 15px;
    font-size: 16px;
  }
}

footer { background-color: rgb(89, 38, 11);}