/* Background Colors */
:root {
  --gcolor-1: rgb(203, 161, 53);
  --gcolor-2: rgb(150, 75, 0);
  --gcolor-3: #9C7C29;
  --gcolor-4: #725A1E;
  --gcolor-5: #544316;
  --gcolor-6: rgb(45, 36, 12);
  --bcolor-1: #9FD2F0;
  --bcolor-2: #C1E899;
  --bcolor-3: #95cd5d;
}

.museum-background {
  background: linear-gradient(to right, var(--gcolor-1), var(--gcolor-2));
  min-height: 100dvh;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.museum-background-2 {
  background: var(--gcolor-6);
  min-height: 100dvh;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.taller-background {
  background: linear-gradient(to right, var(--bcolor-1), var(--bcolor-2));
  min-height: 100dvh;
  min-height: 100vh;
  flex-wrap: wrap;
}

.gold-card { 
  background: linear-gradient(to right, var(--gcolor-1), var(--gcolor-2)); 
  border-radius: 10px;
}
.gold-card-body { font-family: 'Amarante'; }

/* General Fonts */
.subtitle-font {
  font-family: 'Monsieur La Doulaise';
  color: white;
  font-size: 80px;
  text-shadow: 1px 0 10px black; 
}

.caption-font { 
  font-family: 'Amarante';
  color: white;
}

.taller-caption {
  font-family: 'Amarante';
  text-align: justify;
  color: white;
}

.subtitle-font-kids {
  font-family: 'Butterfly Kids';
  font-size: 10rem;
  text-align: center;
  color: white;
  text-shadow: 1px 0 10px black; 
}

.taller-desc {
  border-radius: 25px;
  padding: min(2rem, 8%);
  font-family: 'Butterfly Kids';
  text-align: justify;
  color: black;
}

/* HomePage */

.decoracion-titulo {
  width: 400px; 
  position: absolute;
  bottom: -50px; 
  z-index: 1;
}
#decoracion-izquierda {   left: -120px;  }
#decoracion-derecha { right: -120px; }
.homepage-titulo { z-index: 3; }
.nuestro-museo-desc {
  margin-top: 20px;
  padding: min(1rem, 8%);
  color: white;
  text-align: justify;
  font-size: 2rem;
  z-index: 99;
}
.misvis-desc {
  font-family: 'Amarante';
  background-color: var(--gcolor-5);
  border-radius: 10px;
  overflow-y: scroll;
  color: white;
  height: 30vh;
  font-size: 1.6rem;
  padding: 12px; 
}

.sobre-nosotros-container { margin-bottom: 40px }
.autor-img-col { 
  background-color: transparent;
  background-image: radial-gradient(var(--gcolor-5) 40%, transparent 40%);
  background-size: 6px 6px;
}
.autor-background-fadeout {
  border-top: 5px solid var(--gcolor-3);
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: 
    linear-gradient(to top, var(--gcolor-5) 10%, transparent, transparent, var(--gcolor-5) 90%);
}
.ecomuseo-autor-img {
  width: 50%;
  aspect-ratio: 9 / 16;
  object-fit: contain;
}
.autor-caption {
  bottom: 0;
  left: 0;
  color: white;
}
.autor-caption span:nth-of-type(even) { color: var(--gcolor-1); }
.historia-background { 
  background-color: var(--gcolor-5); 
  padding: 15px;
  border-bottom: 5px solid var(--gcolor-3);
  font-family: 'Amarante';
  color: white;
}

.visitanos-div {
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
}
#visitanos-titere-1 {
  position: absolute;
  z-index: 1;
  transform: scaleX(-1);
  width: 25%;
  bottom: -50px;
  left: 100px;
}
.visitanos-text {
  position: absolute;
  text-align: center; 
  text-shadow: 1px 0 5px var(--gcolor-5);
  top: -60px;
  font-size: 6.4rem;
  z-index: 3;
}
#visitanos-titere-2 {
  position: absolute;
  z-index: 1;
  width: 35%;
  bottom: -80px;
  right: 100px;
}

.ubicacion-div {
  background-color: rgb(89, 38, 11);
  padding: 50px 0px 50px 0px;
  position: relative;
  z-index: 9;
}

@media (min-width: 1000px) { 
  .ubicacion-div { min-height: 70vh !important; }
  .ubicacion-container { height: 100% !important; } 

  .visitanos-div { margin-top: 30vh; }
}


@media (max-width: 992px) {
  .decoracion-titulo { 
    width: 260px; 
    bottom: 20px;
  }
  #decoracion-derecha { right: -150px; }
  #decoracion-izquierda { left: -150px; }
  .nuestro-museo-desc { font-size: 1.3rem; }

  .misvis-desc { 
    height: 200px;
    font-size: 1.4rem;
    padding: 12px; 
  }

  .visitanos-text {
    font-size: 100px;
  }
  #visitanos-titere-1 {
    width: 20%;
    left: 40px;
    bottom: -20px; 
  }
  #visitanos-titere-2 { 
    width: 30%;
    right: 40px;
    bottom: -40px; 
  }

  .card { border-radius: 5px 5px 0 0; }
}

@media (max-width: 768px) {
  .card { border-radius: 5px 5px 0 0; }
  .card-map-pc { display: block; }
  .card-map-mobile { display: none; }

  .decoracion-titulo { 
    width: 120px; 
    bottom: -20px;
  }
  #decoracion-derecha { right: -25px; }
  #decoracion-izquierda { left: -25px; }

  .subtitle-font { font-size: 4rem; }
  .nuestro-museo-desc { font-size: 1rem; }
  .misvis-desc { 
    height: 200px;
    font-size: 1rem;
    padding: 12px; 
  }
  .visitanos-div { height: 300px; }
  .visitanos-text { 
    top: 40%; 
    font-size: 5rem;
  }
  #visitanos-titere-1 {
    width: 25%;
    left: 40px;
    bottom: -20px; 
  }
  #visitanos-titere-2 { 
    width: 40%;
    right: 40px;
    bottom: -40px; 
  }

  .sobre-nosotros-container { width: 350px; } 
}

@media (min-width: 576px) {
  .card-map-pc { display: flex !important; }
  .card-map-mobile { display: none !important; }

  .map-container { padding: 0; }
}

@media (max-width: 575px) {
  .decoracion-titulo { 
    width: 80px; 
    bottom: -10px;
  }

  #decoracion-derecha { right: 10px; }
  #decoracion-izquierda { left: 10px; }
  .subtitle-font { font-size: 2.9rem; }
  .nuestro-museo-desc { font-size: 0.8rem; }
  .misvis-desc { 
    height: 200px;
    font-size: 0.9rem;
    padding: 10px; 
  }

  .sobre-nosotros-container { width: 350px; } 
  .autor-img-col { width: 50%; }

  .visitanos-text { 
    top: 60%; 
    font-size: 3.2rem;
  }
  #visitanos-titere-1 {
    width: 25%;
    left: 40px;
    bottom: -20px; 
  }
  #visitanos-titere-2 { 
    width: 40%;
    right: 40px;
    bottom: -40px; 
  }

  .card { border-radius: 5px 5px 0 0; }
  .card-map-pc { display: none !important; }
  .card-map-mobile { display: block !important; }
}

@media (max-width: 414px) {
  .decoracion-titulo { 
    width: 70px; 
    bottom: -10px;
}

  #decoracion-derecha { right: 0; }
  #decoracion-izquierda { left: 0; }
  .subtitle-font { font-size: 2.4rem; }
  .nuestro-museo-desc { font-size: 0.8rem; }
  .misvis-desc { 
    height: 100px;
    font-size: 0.8rem;
    padding: 5px; 
  }

  .autor-caption { font-size: 2.6rem; }
  .historia-background { font-size: 0.8rem; }

  .visitanos-text { 
    top: 65%; 
    font-size: 2.4rem;
  }
  #visitanos-titere-1,
  #visitanos-titere-2 { bottom: -30px; }
  #visitanos-titere-1 {
    width: 150px; 
    left: 0;
  }
  #visitanos-titere-2 {
    width: 200px;
    right: 0px;
  }

  .ubicacion-container { height: 200px; }

  .card { border-radius: 5px 5px 0 0; }
  .card-map-pc { display: none !important; }
  .card-map-mobile { display: block !important; }
}

/* Collection Page */
.collection-page-div {
  height: 100vh;
  overflow: hidden;
}

.collection-header {
  left: 24%;
}

.collection-title { 
  line-height: 1;
  font-size: 16vw;
  text-shadow: 1px 0 5px var(--gcolor-5);
}

.collection-links {
  bottom: -120px;
  left: 5%;
  width: 100%;
}

.c-link {
  color: white;
  font-size: 2.4vw;
}

#collection-decoration-div { 
  top: 80%; 
  width: 100%;
  height: 53vh;
}

.collection-decoration { 
  position: absolute; 
}
#collection-mario {
  width: 27%;
  left: 0;
  bottom: calc(53vh - calc(53vh * 0.69));
}
#collection-titere-1 {
  width: 17%;
  left: 40%;
  bottom: calc(53vh - calc(53vh * 0.43));
}
#collection-titere-2 {
  width: 14%;
  left: 59%;
  bottom: 48%;
  z-index: 8;
}
#collection-obra {
  width: 34%;
  right: 0;
  bottom: 62%;
}

@media (max-height: 1200px) {
  #collection-decoration-div {
    top: 90%;
  }
}

@media (max-height: 950px) {
  #collection-decoration-div {
    top: 80%;
  }
}

@media (max-height: 638px) {
  .collection-page-div { height: 170vh; }
  #collection-decoration-div {
    top: 80%;
  }
}

@media (max-height: 414px) {
  .collection-page-div { height: 214vh; }
  #collection-decoration-div { top: 90%; }
}

@media (min-width: 992px) {
  .collection-title {margin-top: 180px;}
  .collection-links {bottom: -200px;}
  #collection-mario {
    width: 22%;
    bottom: 0;
  }
  #collection-titere-1 {
    width: 15%;
    bottom: 30%;
  }
  #collection-titere-2 {bottom: -3%;}
  #collection-obra {bottom: 35%;}
}

@media (max-width: 992px) {
  .collection-title {
    margin-top: 155px;
  }
}
@media (max-width: 767px) {
  .collection-title {
    margin-top: 130px;
  }
  .collection-links {
    display: flex;
    flex-direction: column;
    bottom: -370px;
  }
  .collection-links div { 
    margin-top: 70px; 
    width: 100%;
  }
  .c-link { font-size: 2rem; }
}

@media (max-width: 575px) {
  .collection-title {
    margin-top: 110px;
  }
  #collection-mario { 
    width: 39%;
    bottom: calc(53vh - calc(53vh * 0.5));
  }
  #collection-titere-1 {
    width: 27%;
    left: 28%;
  }
  #collection-titere-2 {
    width: 17%;
    bottom: 53%;
  }
}

/* Talleres */
.taller-container { 
  background-color: var(--bcolor-3);
  border-radius: 30px;
}

.taller-decoracion { 
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.taller-div {
  background: var(--bcolor-2);
  min-height: 100%;
  width: 100%;
  border-radius: 5% 0 0 5%;
}

.taller-img {
  min-height: 100%;
  width: 100%;
  border-radius: 0 5% 5% 0;
}

@media (min-width: 1201px) {
  .subtitle-font-kids { font-size: 11rem; }
  .taller-caption { font-size: 4rem; }
  .taller-desc { font-size: 2rem; }

  #taller-decoracion-d { 
    width: 30%;
    right: -100px;
    top: -100px;
  }

  #taller-decoracion-i {
    width: 15%;
    bottom: -90px;
    left: -70px;
  }
}

@media (max-width: 1200px) {
  .subtitle-font-kids { font-size: 9rem; }
  .taller-caption { font-size: 3rem; }
  .taller-desc { font-size: 1.8rem; }

  #taller-decoracion-d { 
    width: 30%;
    right: -60px;
    top: -80px;
  }

  #taller-decoracion-i {
    width: 15%;
    bottom: -90px;
    left: -40px;
  }
}

@media (max-width: 992px) {
  .subtitle-font-kids { font-size: 7rem; }
  .taller-row-pc { height: 350px; }
  .taller-desc { font-size: 1.6rem; }

  #taller-decoracion-d { 
    width: 40%;
    right: -100px;
    top: -100px;
  }

  #taller-decoracion-i {
    width: 15%;
    bottom: -70px;
    left: -40px;
  }
}

@media (max-width: 767px) {
  .subtitle-font-kids { font-size: 5rem; }
  .taller-caption { font-size: 2rem; }
  .taller-desc { font-size: 1.2rem; }
  
  .taller-row-pc {
    height: 250px;
  }

  #taller-decoracion-d { 
    width: 40%;
    right: -80px;
    top: -80px;
  }

  #taller-decoracion-i {
    width: 20%;
    bottom: -50px;
    left: -50px;
  }
}

@media (min-width: 577px) {
  .taller-container-mobile { display: none; }
  .taller-container-pc { display: block; }
}

@media (max-width: 576px) {
  .taller-container-pc { display: none; }
  .taller-container-mobile { display: block; }
  
  .subtitle-font-kids { font-size: 4rem; }
  .taller-caption { font-size: 1.6rem; }
  .taller-desc { font-size: 1rem; }

  .taller-row-mobile {
    height: 250px;
  }

  .taller-img { 
    border-radius: 5px 5px 0 0; 
    object-fit: cover;
  }
  .taller-div { border-radius: 0 0 5px 5px; }
}
